@{
    ViewBag.Title = "About";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>

</head>
<body>
    <div class="jumbotron" style="color:white; background-color:#72BAD0; padding-top:8px; padding-bottom:8px">
        <img class="img-responsive pull-left" style="max-height:50px;" src="/images/adm.png"> <h2> CloudTrade</h2>
    </div>
    <div class="row ">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Live Quotes
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-down"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>4.21</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-down"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>4.21</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-down"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>4.21</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><div class="col-xs-12 col-sm-2">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h5> Name </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <i class="fa fa-caret-up"></i>
                </div>
                <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                    <div>12</div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-2">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h5> Name </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                    <div>4.21</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-2">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h5> Name </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <i class="fa fa-caret-up"></i>
                </div>
                <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                    <div>12</div>
                </div>
            </div>

        </div>
    </div>
</div>


                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h5> Name </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-lg-3">
                                            <i class="fa fa-caret-up"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                            <div>12</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latest Buzz
                </div>
                <div class="panel-body">
                    <video class="img-responsive" controls>
                        <source src="https://racestore.blob.core.windows.net/images/153f66ca-f5e3-4e4c-834e-2bb4967e5b0a_Maid%20with%20the%20Flaxen%20Hair.mp3" type="video/mp4">
                        @*<source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">*@
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-video-camera"></i> Video 1
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-video-camera"></i> Video 2
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-video-camera"></i>  Video 3
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-video-camera"></i>  Video 4 <i class="fa fa-caret-square-o-right fa-2x pull-right"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Trade Zone
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Place Order
                                </div>
                                <div class="panel-body">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="panel panel-green">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-12 text-center">
                                                        <h5> Name </h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-lg-3">
                                                        <i class="fa fa-caret-up"></i>
                                                    </div>
                                                    <div class="col-xs-8 col-sm-8 col-lg-8 text-right">
                                                        <div>12</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                Limit Price

                                            </div>
                                            <div class="col-lg-6">

                                                Quantity
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" placeholder="Input">
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" placeholder="Input">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span class="pull-right">

                                                    <button class="btn btn-sm btn-info">Cancle</button>
                                                    <button class="btn btn-sm btn-info">Submit</button>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    My Trades Queue
                                </div>
                                <div class="panel-body">

                                    <div class="list-group">
                                        <div>
                                            <span>
                                                <span>
                                                    <span class="col-lg-offset-1 small">Stock Queue</span> <span class="col-lg-offset-2">Price</span> <span class="col-lg-offset-2">Order Time</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div>
                                            <a href="#" class="list-group-item list-group-item-info">
                                                <i class="fa fa-line-chart"></i> Trades Queue 1 <span class="col-lg-offset-2">price</span><span class="col-lg-offset-2">time</span><span class="col-lg-offset-2 fa fa-clock-o fa-2x pull-right"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-info">
                                                <i class="fa fa-line-chart"></i> Trades Queue 1 <span class="col-lg-offset-2">price</span><span class="col-lg-offset-2">time</span><span class="col-lg-offset-2 fa fa-check fa-2x pull-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>