
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>

    <div>

        <div class="row">
            <div class="col-lg-6">
                <div class="chat-panel panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i>
                        Mail Inbox
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-refresh fa-fw"></i> Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-check-circle fa-fw"></i> View
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-times fa-fw"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-default pull-right btn-xs" data-toggle="dropdown">
                            Compose
                        </button>
                    </div>

                    <div class="panel-body">
                        <ul class="list-unstyled ">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Mail Subject 1</strong>
                                        <small class="pull-right text-muted">
                                          
                                            <i class="fa fa-clock-o fa-fw"></i> DD/MM/YY
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
                                                Delete
                                            </button>
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Mail Subject 1</strong>
                                        <small class="pull-right text-muted">
                                           
                                            <i class="fa fa-clock-o fa-fw"></i> DD/MM/YY <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
    Delete
</button>
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Mail Subject 1</strong>
                                        <small class="pull-right text-muted">
                                           
                                            <i class="fa fa-clock-o fa-fw"></i> DD/MM/YY
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
                                                Delete
                                            </button>
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-indent fa-fw"></i> Available Blob
                        <button type="button" class="btn btn-default pull-right btn-xs" data-toggle="dropdown">
                            Add
                        </button>
                    </div>

                    <div class="panel-body">
                        <div>
                            <span>
                                <i class="text-muted small">Table Names</i>
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <em style="padding-right:25px">Delete</em>
                                </span>
                            </span>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-indent fa-fw"></i> Blob 1
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-indent fa-fw"></i> Blob 2
                                <span class="pull-right text-muted small"> 
                                   <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                              
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-indent fa-fw"></i> Blob 3
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-indent fa-fw"></i> Blob 4
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>

                        </div>

                        <a href="#" class="btn btn-default btn-block">View All Blobs</a>
                    </div>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sort-amount-asc fa-fw"></i> Available Queues
                        <button type="button" class="btn btn-default pull-right btn-xs" data-toggle="dropdown">
                            Add
                        </button>
                    </div>

                    <div class="panel-body">
                        <div>
                            <span>
                                <i class="text-muted small">Table Names</i>
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <em style="padding-right:25px">Delete</em>
                                </span>
                            </span>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Queue 1
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Queue 2
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Queue 3
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Queue 4
                                <span class="pull-right text-muted small">
                                   <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>

                        </div>
                        <a href="#" class="btn btn-default btn-block">View All Queues</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sort-amount-asc fa-fw"></i> Available Tables
                        <button type="button" class="btn btn-default pull-right btn-xs" data-toggle="dropdown">
                            Add
                        </button>
                    </div>

                    <div class="panel-body">
                        <div>
                            <span>
                                <i class="text-muted small">Table Names</i> 
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <em  style="padding-right:25px">Delete</em>
                                </span>
                            </span>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Table 1
                                <span class="pull-right text-muted small">
                                    <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Table 2
                                <span class="pull-right text-muted small">
                                  <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" /> 
                                </span>
                            </a>
                           
                            
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Table 3
                                <span class="pull-right text-muted small">
                                     <em style="padding-right:50px">Size</em> <input type="button" value="Delete" class="btn btn-xs" />
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sort-amount-asc fa-fw"></i> Table 4
                                <span class="pull-right text-muted small">
                                      <em style="padding-right:50px">Size</em><input type="button" value="Delete" class="btn btn-xs" />
                                </span>
                            </a>
                        </div>
                        <a href="#" class="btn btn-default btn-block">View All Table</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
